<div class="contenedor">

    <form  class="form" [formGroup]="bikeFormGroup"  novalidate (ngSubmit)="saveBike()">


    <div>
        <label  class="form-label">Model</label>
        <input type="text" class="form-input" formControlName="model" name="model" placeholder="Digite El Model">
   <div *ngIf="bikeFormGroup.get('model').invalid && (bikeFormGroup.get('model').dirty || bikeFormGroup.get('model').touched)">
       <div *ngIf="bikeFormGroup.get('model').errors.required">
           <p class="error">*El campo es requerido</p>
       </div>
       <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
           <p class="error">*El campo debe de tener maximo 4 caracteres</p>
       </div>
   </div>

    </div>

    <div>
        <label  class="form-label">Price</label>
        <input type="text" class="form-input" formControlName="price" name="price" placeholder="Digite El Price">
        <div *ngIf="bikeFormGroup.get('price').invalid && (bikeFormGroup.get('price').dirty || bikeFormGroup.get('price').touched)">
            <div *ngIf="bikeFormGroup.get('price').errors.required">
                <p class="error">*El campo es requerido</p>
            </div>
            <div *ngIf="bikeFormGroup.get('price').errors.maxlength">
                <p class="error">*El campo debe de tener maximo 4 caracteres</p>
            </div>
        </div>
    </div>

    <div>
    <label class="form-label">Serial</label>
        <input type="text" class="form-input" formControlName="serial" name="serial" placeholder="Digite El Serial">
        <div *ngIf="bikeFormGroup.get('serial').invalid && (bikeFormGroup.get('serial').dirty || bikeFormGroup.get('serial').touched)">
        <div *ngIf="bikeFormGroup.get('serial').errors.required">
                <p class="error">*El campo es requerido</p>
        </div>
        <div *ngIf="bikeFormGroup.get('serial').errors.maxlength">
                <p class="error">*El campo debe de tener maximo 4 caracteres</p>
        </div>
        </div>
    </div>


        <button [disabled]="bikeFormGroup.invalid" class="boton" type="submit">Guardar</button>



</form>

</div>

<!--[formGroup]="bikeFormGroup"-->
