*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-image: url('./../../../../assets/Imagenes/forms.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.contenedor .form {
    font-weight: normal;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 14px 0;
}

.contenedor .form{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 100%;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;
      background: rgba(0, 0, 0, .6);
}

.contenedor .form .form-label, .form-input{
    font-weight: normal;
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 14px 0;
    border: none;
}



.contenedor .form .form-label{
    display: block;
    font-size: 16px;
    font-family: monospace;
    color: #ffffff;
    position: relative;
}

.form-label{
    color: #FFFFFF;
    text-align: center;
}

.form-input{
    border-bottom: 4px solid #DF5113;
    padding: .3em;
    width: 30%;
     background: rgba(0, 0, 0, .6);
     color: #FFFFFF;
}



.boton::after, .boton:disabled{
    display: block;
    position: relative;
    margin: auto;
    margin-top: .7em;
    border: none;
    color: #FFFFFF;
    background: rgba(0, 0, 0, .4);
    padding: 4px;
    width: 25%;
    cursor: pointer;
}
.boton::before, .boton:valid{
    display: block;
    position: relative;
    margin: auto;
    margin-top: .7em;
    border: none;
    color: #FFFFFF;
    background: #C60612;
    padding: 4px;
    width: 25%;
    cursor: pointer;
}



.error{
    text-align: center;
    font-size: .8em;
    font-family: Arial;
    color: rgb(226, 60, 60);
}
