<p>bikes-list works!</p>
<h1>Bikes List</h1>

<div class="contenedor">
    
    <table >
        <tr>
       <th class="superior"> Id</th>
       <th class="superior"> Model</th>    
       <th class="superior"> Price</th>   
       <th class="superior"> Serial</th>  
       <th class="superior"> Action</th> 
    </tr> 
    <tr *ngFor="let item of bikesList">
    <td class="inferior">{{ item.id }}</td>
    <td class="inferior">{{ item.model }}</td>
    <td class="inferior">{{ item.price }}</td>
    <td class="inferior">{{ item.serial }}</td>
    <td class="inferior">
        <a class="link" [routerLink]="['../bikes-update', item.id]" routerLinkActive="routerLink">Update</a>
        <button class="delete" (click)="deleteItem(item.id)">Eliminar</button>
    </td>
   
    </tr>
    </table>
   </div>

   
 
 




