<div class="contenedor">

    <table>

       <tr>

        <th class="superior">Id</th>
        <th class="superior">Date</th>
        <th class="superior">ClientId</th>
        <th class="superior">ClientName</th>
        <th class="superior">BikeId</th>
        <th class="superior">BikeSerial</th>
       </tr> 

       <tr *ngFor="let item of salesList">
           <td class="inferior">{{ item.id }}</td>
           <td class="inferior">{{ item.date }}</td>
           <td class="inferior">{{ item.clientId }}</td>
           <td class="inferior">{{ item.clientName }}</td>
           <td class="inferior">{{ item.bikeId }}</td>
           <td class="inferior">{{ item.bikeSerial }}</td>
       </tr>
    </table>
</div>
