<!--Reestructuracion-->

<div class="container">
  <div class="row">
    <div class="col-sm-3">
     <h1 class="font-weight-bold" style="font-size: 25px;">CATALOGO</h1>
     <ul class="list-group">
       <li class="list-group-item-action" style="border: none; list-style: none;">Home</li>
       <li class="list-group-item-action" style="border: none; list-style: none;">Messages</li>
       <li class="list-group-item-action" style="border: none; list-style: none;">settings</li>
     </ul>
    </div>
    <div class="col-sm-7">
      <!--Search-->
      <div class="form-inline" [formGroup]="searchFormGroup">
        <input class="form-control mr-sm-2" type="text" formControlName="document"
        (keyup)="searchClient()" placeholder="Search" aria-label="Search" name="document">
        <button class="btn btn-primary  btn-sm " type="submit">Search</button>

      </div>
      <!--Card catalogo sale-->
      <div class="container" style="display: flex;">
        <div class="row">
          <div class="col">
      <div class="card mt-4" style="width: 10rem;" *ngFor="let item of saleList">
        <img class="card-img-top"  [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-height: 286px;" alt="bike image"/>
        <div class="card-body">
          <p class="card-text">{{item.model}}</p>
          <p class="card-text">{{item.serial}}</p>
          <p class="card-text">{{item.price}}</p>
          <button class="btn btn-success" (click)="addToCar(item)">Comprar</button>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="width: 18rem; border: none;">
        <div class="card-body">
          <div class="btn btn-primary " style="width: 15em; ;">
          <p class="card-text">CAR COP ${{suma}}</p>
         <!-- <h6 class="card-subtitle mb-2 ">Card subtitle</h6>-->
        </div>
          <p class="card-text" style="text-align: center;">123</p>
          <p class="card-text" style="text-align: center;">123</p>
          <p class="card-text" style="text-align: center;">123</p>
        </div>
      </div>
    </div>
  </div>
</div>






<!--
<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group  mt-4"  [formGroup]="formSearchClient" (ngSubmit)="searchClientDocument()">
        <input class="input-search" type="text" placeholder="Search to client" formControlName="document" name="document" (blur)="searchClientDocument()">
        <div class="input-group-append">
          <button  class="btn btn-primary d-flex">Buscar</button>
          <p *ngIf="clientSearchTemp">{{clientSearchTemp.name | json}}</p>
        </div>

        <p class="alert alert-danger" role="alert" *ngIf="statusSearchClientDocument">Seleccione primero el cliente</p>
      </div>
      </div>
    </div>
    <div class="col mt-4 ">
      <p class="card-text btn btn-primary" >
        Name:
        Car COP $ {{suma}}
      </p>
      <p  *ngFor="let item of saleListCar">
        {{item.clientId}}
        {{item.bikeSerial}}
        ${{item.bikesPrice}}
      </p>
    </div>
  </div>



<div class="container mt-4">
    <div class="row">
        <div class="col" *ngFor="let item of saleList">
<div class="card border-danger" style="width: 18rem;">
    <img class="card-img-top"  [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-height: 286px;" alt="bike image"/>
    <div class="card-body">
      <h5 class="card-title">Bike</h5>
      <h4 class="card-title">{{item.model}}</h4>
      <p class="card-text">${{item.price}}</p>
      <p class="card-text">{{item.serial}}</p>
      <button class="btn btn-success" (click)="addToCar(item)">Comprar</button>
    </div>
  </div>
</div>
</div>
</div>

<table class="table" style="border: 1;">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DOCUMENT</th>
    <th>ACTION</th>
  </tr>
  <tr *ngFor="let item of clientList">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.document}}</td>
    <td><button type="button" class="btn btn-success" (click)="seletedClient(item)">Seleccionar</button></td>
  </tr>
</table>
-->
