*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Header{
    height: 50px;
    background: #2557c5de;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btn-menu{
    display: none;
}

.Header label{
    font-size: 30px;
    cursor: pointer;
    display: none;
}



.navbar ul {
    background: #2557c5de;
    display: flex;
    list-style: none;
    
}

.navbar ul ul{
    display: none;
}

.navbar  a  {
    display: block;
    padding:  15px 20px;
    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover{
    background: #ca2222e8;
}

.navbar a span{
    margin-left: 10px;
    color: #ffffff;
}

.navbar ul li:hover ul{
    display: block;
    position: absolute;
} 

@media (max-width: 768px){
    .Header label{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .navbar ul{
        display: block;
        background: #555555;
    }

    .navbar ul li:hover ul{
        display: none;
        position: static;
    }

    .navbar a .span{
        position: absolute;
        right: 10px;
    }

    #btn-menu:checked ~ .navbar{
        transform: translateX(0%);
    }

    .fa-bars{
        position: relative;
        right: 5px;
    }

    .navbar ul ul{
        background: rgba(0, 0, 0, 0.4);
    }

    .navbar ul ul a{
        padding: 15px 40px;
    }
}