<header class="Header">
  
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu"><span class="span"><i class="fas fa-bars"></i></span></label>
  <nav class="navbar">
    <ul>
      <li class="submenu"><a href="#"><span><i class="fas fa-bicycle"></i></span> Bike <span class="span"><i class="fas fa-angle-down"></i></span></a>
      <ul>
        <li><a  class="dropdown" [routerLink]="['bikes/bikes-list']"  >Bike-list  </a></li>
        <li><a  class="dropdown" [routerLink]="['bikes/bikes-create']">Bike-Create</a></li>
        <li><a  class="dropdown" [routerLink]="['bikes/bikes-view']"  >Bike-view  </a></li>
        <li><a  class="dropdown" [routerLink]="['bikes/bikes-update']">Bike-update</a></li>
      </ul>
      </li>
      <li class="submenu"><a href="#"><span><i class="fas fa-users"></i></span> Client <span class="span"><i class="fas fa-angle-down"></i></span></a>
      <ul>
        <li><a class="dropdown" [routerLink]="['clients/clients-list']">Clients-List    </a></li>
        <li><a class="dropdown" [routerLink]="['clients/clients-forms']">Clients-Forms  </a></li>
        <li><a class="dropdown" [routerLink]="['clients/clients-update']">Clients-Update</a></li>
      </ul>
      </li>
      <li class="submenu"><a href="#"><span><i class="fas fa-tags"></i></span> Sale    <span class="span"><i class="fas fa-angle-down"></i></span></a>
      <ul>
        <li><a class="dropdown" [routerLink]="['sale/sale-create']">Sale-Create</a></li>
        <li><a class="dropdown" [routerLink]="['sale/sale-list']">Sale-List</a></li>
      </ul>
      </li>
      <li class="submenu"><a href="#"><span><i class="fas fa-redo-alt"></i></span> Reto<span class="span"><i class="fas fa-angle-down"></i></span></a>
      <ul>
        <li><a class="dropdown" [routerLink]="['post/buscador']">Post</a></li>
        <li><a class="dropdown" [routerLink]="['post/buscador-list']">Post-list</a></li>
        <li><a class="dropdown" [routerLink]="['user/user-list']">User-list</a></li>
        <li><a class="dropdown" [routerLink]="['user/user-create']">User-create</a></li>
      </ul>
      </li>
    </ul>
  </nav>
</header>













