<div class="row">
  <div class="col lg-2">
  <a [routerLink]="['./sale-create']">Sale-Create</a>
  <br>
  <a [routerLink]="['./sale-list']">Sale-List</a>
  </div>
  <div class="col lg-10">
    <router-outlet></router-outlet>
  </div>
</div>
